

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: lightseagreen;
    color: white;
    
}

h1 {
    text-align: center;
    color: darkslategrey;
    
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 30px;
}


form {
    display: flex;
}

input{
    padding: 15px 10px;
    outline: none;
    width: 400px;
    font-size: medium;
    font-weight: bold;

}
input::placeholder {
    font-size: medium;
}

.list{
    background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
    padding: 0;
  }
  
  li {
    list-style: none;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    display: flex;
   
  }
  ul {
    padding: 0;
  }
  
li p {
    margin: 0;
    padding: 15px;
    width: 100%;
  }

.eliminar{
    margin-left: auto;
    border: none;
    background-color: #37ff00;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
   
    
}

.eliminar:hover{
    cursor: pointer;
   background-color: rgb(253, 11, 11);
}

.add{
    padding: 5px 15px;
    border:none;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: fantasy;
    background-color: rgb(253, 242, 19);
    font-size: 1.4rem;
    outline: none;
}

.add:hover{
    cursor: pointer;
    background-color: rgb(253, 11, 11);
}